<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MacroCal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePageStyles.css') }}">
</head>
<body>
    <div class="layout">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('home') }}"><img src="https://www.nicepng.com/png/full/17-178841_home-png-home-icon-free.png" alt="Home"> home</a></li>
                <li class="settings-item"><a href="#"><img src="https://th.bing.com/th/id/OIP.4peAp0JoHFHJooTGiQEa7gAAAA?rs=1&pid=ImgDetMain" alt="Settings"> Settings</a></li>
                <li class="LogOutButton"><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </nav>
        <header class="header">
    <h1>Home</h1>
    <button onclick="openSettings()">Settings</button>
        <main class="content">
            <h2>Your Caloric Intake Summary</h2>
            <div class="calorie-summary">
                <div class="info-box">
                    <h3>Recommended Daily Intake</h3>
                    <p><span>{{ maint_cals }}</span> calories</p>
                </div>
                <div class="info-box">
                    <h3>Recommended Protein</h3>
                    <p><span>{{ protein }}</span> grams</p>
                </div>
                <div class="info-box">
                    <h3>Recommended Carbs</h3>
                    <p><span>{{ carbs }}</span> grams</p>
                </div>
                <div class="info-box">
                    <h3>Recommended Fats</h3>
                    <p><span>{{ fats }}</span> grams</p>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    function openSettings() {
        window.location.href = "{{ url_for('settings') }}";
    }
</script>
</html>
