<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroCal</title>
    <link href="https://fonts.googleapis.com/css2?family=Genos:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.css') }}">
</head>
<body>
    <div class="left-section">
        <h1>MacroCal</h1>
        <h2>Welcome</h2>
        <p>Get Your Health In Check</p>
    </div>
    <div class="right-section">
        <button class="button-login" onclick="location.href='{{ url_for('login') }}'">
            Admin Sign In
        </button>
        <h5>OR</h5>
        <h3>Get Started</h3>
        <form class="signup" action="{{ url_for('signup') }}" method="GET">
            <button type="submit">Calculate Your Macros</button>
        </form>
    </div>
</body>
</html>
